{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://www.facebook.com/ceta.haba.1/"><img src="{% static 'images/fb.svg' %}" alt="facebook" ></a></li>
        <li><a href="https://www.instagram.com/cetahab/"><img src="{% static 'images/insta.svg' %}" alt="insta" href=""></a></li>
        <li><a href="javascript:void(0)"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/alphonse-haba-44954223b/"><img src="{% static 'images/linkedin.svg' %}" alt="linkdin" href="https://www.linkedin.com/in/alphonse-haba-44954223b/"></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright by Cetaking27 ©{% now 'Y' %} All rights reserved.</p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->